<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="REPLACEME">
		<meta name="generator" content="Hugo 0.80.0" />
		<title>Catalog | The classic book store</title>
		<link rel="canonical" href="/empty/">
		<link rel="stylesheet" href="/css/base.min.eb3fe86a88ac08d693f6d42508875683971dc28c534781f57f9a7b5ebf0724c5.css" integrity="sha256-6z/oaoisCNaT9tQlCIdWg5cdwoxTR4H1f5p7Xr8HJMU=" crossorigin="anonymous">
	</head>
	<body>
		<nav class="u-background">
			<div class="u-wrapper">
				<ul class="Banner">
					<li class="Banner-item Banner-item--title">
						<a class="Banner-link u-clickable" href="/">The classic book store</a>
					</li>
					<li class="Banner-item">
						<a class="Banner-link u-clickable" href="/about/">About</a>
					</li>
					<li class="Banner-item">
						<a class="Banner-link u-clickable" href="/posts/">Blog</a>
					</li>
					<li class="Banner-item">
						<a class="Banner-link u-clickable" href="/catalog/">Catalog</a>
					</li>
				</ul>
			</div>
		</nav>
		<main>
			<div class="u-wrapper">
				<div class="u-padding">
					<article>
						<header class="Heading">
							<h2 class="Heading-title">
								<a class="Heading-link u-clickable" href="/catalog/" rel="bookmark">Catalog</a>
							</h2>
						</header>
						<ul>
							{{ range .Offers }}
							<li>"{{.Title}}" by {{.Author}} for {{.Price}} : {{.Amount}} available</li>
							{{ end }}
						</ul>
					</article>
				</div>
			</div>
		</main>
		<footer class="Footer">
			<div class="u-wrapper">
				<div class="u-padding">
					Except where otherwise noted, content on this site 
					is property of the classic book store
				</div>
			</div>
		</footer>
	</body>
</html>
