<h1>Contact</h1>
<form action="/" method="POST" novalidate>
  <div>
    <p><label>Purchase item</label></p>
    <p><input type="text" name="item"></p>
  </div>
  <div>
    <p><label>number of items</label></p>
    <p><input type="number" name="number"></p>
  </div>
  <div>
    <input type="submit" value="Send message">
  </div>
</form>

