{{ define "load_page_assets" }}

  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}

  {{ $paginator := .Paginate $pages }}

  {{ range $paginator.Pages }}
    {{ with .Content }}{{ end }}
    {{ $page_css := .Scratch.Get "css" }}
    {{ with $page_css }}
      {{ $css_list := $.Scratch.Get "css" }}
      {{ . | merge $css_list | $.Scratch.Set "css" }}
    {{ end }}
    {{ $page_js := .Scratch.Get "js" }}
    {{ with $page_js }}
      {{ $js_list := $.Scratch.Get "js" }}
      {{ . | merge $js_list | $.Scratch.Set "js" }}
    {{ end }}
  {{ end }}

  {{ $paginator | .Scratch.Set "paginator" }}

{{ end }}

{{ define "main" }}
  
  {{ .Content }}

	<p><br></br></p>
  <h2> Blog posts </h2>

  {{ $paginator := .Scratch.Get "paginator" }}

  {{ range $paginator.Pages }}
    <article>
      {{ partial "heading.html" . }}
      {{ if site.Params.summaries }}
        {{ .Summary }}
        {{ if .Truncated }}
          <p>
            <a class="u-clickable" href="{{ .RelPermalink }}">Read More…</a>
          </p>
        {{ end }}
      {{ else }}
        {{ .Content }}
      {{ end }}
      {{ partial "tags.html" . }}
    </article>
    {{ with site.Params.divider }}
      <div class="Divider"></div>
    {{ end }}
  {{ end }}

  {{ partial "pagination.html" . }}

{{ end }}
